SetEnv DEFAULT_PHP_VERSION 56
# compress text, html, javascript, css, xml:

AddType x-font/otf .otf
AddType x-font/ttf .ttf
AddType x-font/eot .eot
AddType x-font/woff .woff
AddType image/x-icon .ico
AddType image/png .png
